  .aboutMe-container {
    width: 60%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 98vh;
  }
  
  .aboutMeContainer p {
    font-size: 1.5rem;
    text-align: left;
  }