  .aboutMe-container {
    width: 100%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 98vh;
  }
  
  .aboutMe-container p {
    font-size: 1.5rem;
    line-height: 150%;
    width: 80%;
  }

  .aboutMe-container img {
    height: 300px;
    width: 220px
  }