.resume-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 98vh;
    width: 80%;
    line-height: 2rem;
}

.resume-container h3{
    align-items:center;
}

h3{
    font-size: 3rem;
}
h4{
    justify-content: center;
}

.resume-container a {
    text-decoration: none;
    color: var(--brightWhite);
}

.front-end li, .back-end li {
    float: left;
    width: 50%;
}