:root{
  --teal: #f2f2f2;
  --blue: #c8d8e4;
  --brightWhite: #ffffff;
  --darkGrey: #4d5061;
  --aquaMarine: #5c80bc;
  --olive: #3d3b30;
}


body{
  background-color: var(--darkGrey);
  color: var(--brightWhite);
  font-family: 'Montserrat', sans-serif;
}
