:root{
  --brightWhite: #ffffff;
  --darkGrey: #4d5061;
  --aquaMarine: #5c80bc;
  --olive: #3d3b30;
  --beige: #e4d5b7;
}


body{
  background-color: var(--darkGrey);
  color: var(--brightWhite);
  font-family: 'Montserrat', sans-serif;
}
